.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22223b;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-item {
  position: relative;
  width: 20%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin: 5px 0px;
}

.img-item:hover {
  transform: scale(1.1);
  opacity: 0.9;
  z-index: 1;
}

.img {
  height: 100%;
  width: 100%;
  border: 5px solid black;
  border-radius: 5px;
}
